@media screen and (max-width: 768px){
    h1 {
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #1652AC;
    }
    .wrap-with-line::before, .wrap-with-line::after {
        display: none;
    }
    h2 {
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 2.42px;
        text-transform: uppercase;
        transform: rotate(0.02deg);
    }
}