.wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 10px;
    width: 1000px;
    margin: 0 auto;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.header {
    background-color: blue;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    min-height: 500px;
}

.content__post {
    background-color: darkblue;
    height: 100%;
}

.menu {
    flex-basis: 200px;
    height: 500px;
    background-color: cadetblue;
}

.footer {
    height: 100px;
    background-color: darkturquoise;
}