.wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 10px;
    width: 1000px;
    margin: 0 auto;
}

.wrap > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.header {
    background-color: blue;
    height: 100px;
}

.nav {
    background-color: darkblue;
    height: 70px;
}

.main {
    flex-grow: 1;
    height: 500px;
    background-color: cadetblue;
}

.a-side {
    flex-basis: 200px;
    background-color: cornflowerblue;
}

.footer {
    height: 100px;
    background-color: darkturquoise;
}