.wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    gap: 5px;
}

.header {
    flex-basis: 100%;
    background-color: blue;
    height: 100px;
    text-align: center;
}

.nav {
    flex-basis: 100%;
    background-color: darkblue;
    height: 70px;
}

.main {
    flex-grow: 1;
    height: 500px;
    background-color: cadetblue;
}

.a-side {
    flex-basis: 200px;
    background-color: cornflowerblue;
}

.footer {
    flex-basis: 100%;
    height: 100px;
    background-color: darkturquoise;
}