.wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    height: 700px;
    gap: 10px
}

.widgets {
    flex-basis: 100%;
    background-color: blue;
    height: 300px;
}

.widget {
    background-color: darkblue;
    height: 200px;
    flex-grow: 1;
}

.contact {
    flex-basis: 100%;
    height: 400px;
    background-color: darkturquoise;
}