html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    font-style: normal;
}

.header {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__top {
    background: #0F2438;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1354px;
    margin: 0 auto;
}

.header .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header .navbar-nav {
    align-items: center;
}

.permanent-links.navbar-nav {
    flex-direction: row;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    border: none;
    background-image: url(../img/chevrondown.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 10px;
    vertical-align: baseline;
}

.header__middle__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    gap: 20px;
}

.header__middle__info-brand {
    position: relative;
    display: inline-block;
    padding-left: 70px;
}

.header__middle__info-brand::before {
    content: "";
    display: inline;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
}

.header__middle__info-work-hours {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0F2438;
}

.header__middle__info-work-hours::before {
    content: "";
    display: inline;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
}

.header__middle__info-map {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.header__middle__info-map::before {
    content: "";
    display: inline;
    background-image: url(../img/mapointer.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
}

.header__middle__info-whatsapp-btn {
    background: #E1EFD0;
    border-radius: 2px;
    padding: 8px 35px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    white-space: nowrap;
}

.header__middle__info-whatsapp-btn::before {
    content: "";
    display: inline;
    background-image: url(../img/whatsapp.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 9px
}

.brand__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.brand__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.header__phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.header__feedback {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}

.header__middle__catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    column-gap: 40px;
}

.header__middle__catalog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005BB9;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 16px 32px;
    cursor: pointer;
}

.header__middle__catalog-btn-icon {
    margin-right: 10px;
}

.header__middle__catalog__left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 60%;
}

.header__middle__input {
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: 55px;
    border-width: 0;
    display: inline-block;
}

.header__middle__info-work-hours__wrap,
.header__middle__info-whatsapp__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}

.header__middle__search-input {
    width: 100%;
}

.header__middle__search-input-btn {
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header__middle__search-input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__middle__catalog__right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}

.login-link, .favorite-link, .cart-link {
    cursor: pointer;
}

.login-link img, .favorite-link img, .cart-link img {
    margin-right: 20px;
}

.cart-link {
    font-size: 12px;
    line-height: 16px;
}

.content {
    padding: 20px;
}

.content__large-slider__slider {
    width: 1080px;
}

.content__large-slider {
    display: flex;
    gap: 10px;
}

.content__large-slider__mask-image {
    position: absolute;
    top: 5%;
    right: 5%;
}

.content__large-slider__campaign {
    width: 336px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.content__large-slider__campaign__item {
    background: #F4F5FA;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    position: relative;
    padding: 15px;
    column-gap: 10px;
    align-items: center;
    box-sizing: border-box;
}

.content__campaign-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.carousel-item > img {
    height: 390px !important;
}

.content__large-slider__campaign__item-price-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__large-slider__campaign__item-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    height: 50px;
    overflow: hidden;
}

.content__large-slider__campaign__item-sku {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.content__large-slider__campaign__item-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.content__large-slider__campaign__item-price-changed {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.content__large-slider__campaign__item-cart-btn {
    width: 57px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005BB9;
    border-radius: 6px;
}

.carousel-caption {
    position: absolute;
    top: 10%;
    left: 10%;
    right: inherit;
    text-align: left;
}

.carousel-caption h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.carousel-caption h2 {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.slider-img-price {
    margin-top: 25px;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.slider-img-btn,
.product-list__item-buy__btn {
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 50px;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-top: 15px;
    cursor: pointer;
    color: #fff;
}

.product-list__item-buy__btn {
    margin: 0;
}

.content__inline-slider {
    padding: 20px 0;
}

.slider-img-btn img,
.product-list__item-buy__btn img {
    margin-right: 10px;
}

.slider-img-discount-price {
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.carousel-item__wrapper {
    display: flex;
    column-gap: 10px;
}

.content__inline-slider__item {
    display: flex;
    height: 190px;
    width: 431px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    justify-content: space-between;
}

.content__inline-slider__item-body__btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #005BB9;
    border-radius: 4px;
    padding: 5px 15px;
    width: 86px;
    height: 26px;
    box-sizing: border-box;
}

.content__inline-slider__item-body {
    padding: 30px;
}

.content__inline-slider__item-body__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
    padding: 15px 0;
}

.content__inline-slider__item-body__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.product-list-filter {
    padding: 20px 0;
}

.product-list-filter__btn-podborka {
    display: inline-block;
    background: #005BB9;
    border-radius: 6px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.product-list-filter__btn-campaign,
.product-list-filter__btn-top {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px 32px;
    cursor: pointer;
}

.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list__item {
    max-width: 300px;
    padding: 10px;
}

.product-list__item-img {
    max-width: 276px;
    height: 235px;
}

.product-list__item-feedback {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    display: flex;
    align-items: center;
}

.product-list__item-feedback-grey {
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    padding-left: 10px;
}

.product-list__item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
    padding: 10px 0 30px 0;
    height: 80px;
    overflow: hidden;
}

.product-list__item-buy {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.product-list__item-price {
    height: 50px;
    overflow: hidden;
}

.product-list__item-price.yellow {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.product-list__item-buy__fav {
    background-image: url("../img/heartshape.png");
    width: 21px;
    height: 21px;
}

.product-list__item-buy__chart {
    background-image: url("../img/chart.png");
    width: 21px;
    height: 21px;
}

.product-list__hr {
    flex-basis: 100%;
    height: 1px;
    background-color: #E1E5F8;
    margin: 40px 0;
}

.show-next-products-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.show-next-products-btn {
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #005BB9;
    padding: 15px 40px;
}

.news__list__wrapper {
    position: relative;
}

.news__list__wrapper::before {
    content: "";
    height: 10px;
    background-color: #F5F5F5;
    width: 100%;
    position: absolute;
}

.news__list__item {
    width: 284px;
    padding-top: 25px;
}

.news__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 15px;
}

.news__list__item__date {
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.news__list__item__date::before {
    /*content: url("../img/newsellipse.png");*/
    content: "";
    height: 20px;
    width: 1px;
    background: #0C1A2A;
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
}

.news__list__item__title {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin: 15px 0;
}

.news__list__item__desc {
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.news__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
    padding: 0 20px 100px 20px;
}

.footer {
    background: #0C1A2A;
}

.footer__inner {
    padding: 20px 20px 0 20px;
}

.footer__links {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__links__item-content,
.footer__links__item-content a,
.footer__links__item-content p {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 0;
}

.footer__links__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    padding-bottom: 15px;
}

.footer__contact {
    max-width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 50px;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__subscribe {
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
    margin-top: 25px;
}

.footer__subscribe input {
    width: 100%;
    height: 40px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #0C1A2A;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}

.footer__subscribe__btn {
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__subscribe__input {
    display: flex;
    align-items: center;
}

.footer__social {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer__social img {
    margin: 10px;
}

.footer__copyright {
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    padding: 10px;
}

.navbar-toggler {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}