@media screen and (max-width: 992px) {
    .header__middle__info-work-hours__wrap,
    .header__middle__info-whatsapp__wrap {
        flex-direction: column;
        align-items: start;
        column-gap: 20px;
    }

    .product-list {
        justify-content: center;
    }

    .product-list__item {
        max-width: 230px;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {

    .header__middle__catalog {
        padding: 10px;
    }

    .show-next-products-wrapper {
        margin-top: 20px;
    }

    .product-list__item-img, .product-list__item-img > img {
        max-width: 239px;
        height: 127px;
    }

    .product-list__hr {
        display: none;
    }

    .header__middle__info-work-hours__wrap,
    .header__middle__info-whatsapp__wrap {
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }

    .header .nav-link {
        font-size: 13px;
        line-height: 15px;
    }

    .brand__desc {
        font-size: 11px;
        line-height: 13px;
    }

    .header__middle__info-work-hours {
        font-size: 12px;
        line-height: 18px;
    }

    .header__phone {
        font-size: 16px;
        line-height: 19px;
    }

    .header__middle__info-whatsapp-btn {
        font-size: 12px;
        line-height: 14px;
    }

    .header__middle__catalog-btn-label {
        display: none;
    }

    .header__middle__catalog-btn {
        padding: 16px;
        height: 43px;
        width: 43px;
    }

    .header__middle__catalog-btn-icon {
        margin: 0;
    }

    .header__middle__input {
        height: 43px;
    }

    .header__middle__search-input-btn {
        padding: 18px 30px;
        height: 43px;
        box-sizing: border-box;
    }

    .login-link, .favorite-link, .cart-link {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-link img, .favorite-link img, .cart-link img {
        margin: 0;
    }

    .carousel-item > img {
        height: 314px !important;
    }

    .carousel-caption h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .carousel-caption h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .slider-img-price {
        font-size: 30px;
        line-height: 35px;
    }

    .slider-img-discount-price {
        font-size: 18px;
        line-height: 21px;
        display: block;
    }

    .slider-img-btn, .product-list__item-buy__btn {
        font-size: 14px;
        line-height: 16px;
    }

    .content__campaign-tag {
        font-size: 12px;
        line-height: 14px;
    }

    .content__large-slider__campaign__item-name {
        font-size: 13px;
        line-height: 20px;
    }

    .content__large-slider__campaign__item-sku {
        font-size: 10px;
        line-height: 12px;
        padding-bottom: 10px;
    }

    .content__large-slider__campaign__item-price-changed {
        font-size: 14px;
        line-height: 16px;
        display: block;
    }

    .content__large-slider__campaign__item-price {
        font-size: 16px;
        line-height: 21px;
    }

    .content__large-slider__campaign__item-cart-btn {
        width: 39px;
        height: 39px;
    }

    .content__inline-slider__item-body__title {
        font-size: 18px;
        line-height: 21px;
    }

    .content__inline-slider__item-body__desc {
        font-size: 12px;
        line-height: 20px;
    }

    .content__inline-slider__item-body {
        padding: 20px;
    }

    .product-list-filter__btn-podborka,
    .product-list-filter__btn-campaign,
    .product-list-filter__btn-top {
        font-size: 16px;
        line-height: 19px;
    }

    .product-list__item-feedback,
    .product-list__item-feedback-grey {
        font-size: 13px;
        line-height: 15px;
    }

    .product-list__item-name {
        font-size: 15px;
        line-height: 18px;
    }

    .product-list__item-price {
        font-size: 13px;
        line-height: 15px;
        height: 30px;
    }

    .product-list__item-price.yellow {
        font-size: 18px;
        line-height: 21px;
    }

    .product-list__item-buy {
        padding: 10px 0;
        column-gap: 10px;
    }

    .show-next-products-btn {
        font-size: 14px;
        line-height: 16px;
    }

    .news__title {
        font-size: 18px;
        line-height: 21px;
        padding-left: 20px;
        margin-top: 40px;
    }

    .footer__links {
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
    }

    .footer__contact {
        max-width: 100%;
    }

    .footer__subscribe {
        width: 100%;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
    }

    .slider-img-btn, .product-list__item-buy__btn {
        padding: 5px;
        width: 110px;
    }

    .product-list__item {
        padding: 0;
        max-width: 159px;
        /*max-height: 300px;*/
    }

    .header__middle__info {
        padding: 10px;
    }

    .content {
        padding: 10px;
    }

    .header__middle__info-brand::before {
        width: 65px;
        height: 65px;
        background-size: cover;
    }
}

@media screen and (max-width: 576px) {

    .header__middle__info-brand::before {
        width: 65px;
        height: 65px;
    }

    .content__inline-slider {
        padding: 20px 5px;
    }

    .header__middle__catalog {
        padding: 10px;
    }

    .carousel-caption h3 {
        font-size: 16px;
        line-height: 19px;
    }

    .carousel-caption h2 {
        font-size: 10px;
        line-height: 12px;
    }

    .slider-img-price {
        font-size: 20px;
        line-height: 23px;
    }

    .slider-img-discount-price {
        font-size: 14px;
        line-height: 16px;
    }

    .slider-img-price {
        margin-top: 5px;
    }

    .slider-img-btn, .product-list__item-buy__btn {
        height: 34px;
        width: 110px;
    }

    .header__top__info-link,
    .header__top__partner-link,
    .header__middle__info-work-hours__wrap,
    .header__middle__catalog__right,
    .product-list__item-buy__chart,
    .news__list__item__date::before {
        display: none;
    }

    .brand__name {
        white-space: nowrap;
        font-size: 14px;
        line-height: 18px;
        color: #0F2438;
    }

    .header__middle__info-whatsapp-btn {
        padding: 5px 5px 5px 20px;
    }

    .header__middle__info-whatsapp-btn::before {
        left: 5px;
        top: 6px;
    }

    .brand__desc {
        font-size: 9px;
        line-height: 11px;
    }

    .header__middle__catalog__left {
        width: 100%;
    }

    .content__large-slider {
        padding: 5px;
        flex-direction: column;
    }

    .carousel-item > img {
        height: 195px !important;
    }

    .content__large-slider__slider {
        width: 100%;
    }

    .content {
        padding: 5px;
    }

    .content__large-slider__campaign {
        flex-direction: row;
        column-gap: 10px;
        overflow: scroll;
        width: 100%;
    }

    .content__large-slider__campaign__item {
        width: 250px;
    }

    .product-list__item-img, .product-list__item-img > img {
        max-width: 139px;
        height: 127px;
    }

    .product-list__item-name {
        font-size: 12px;
        line-height: 17px;
    }

    .product-list {
        padding: 10px;
        gap: 20px;
        justify-content: center;
    }

    .product-list-filter__btn-podborka, .product-list-filter__btn-campaign, .product-list-filter__btn-top {
        font-size: 14px;
        line-height: 16px;
    }

    .product-list-filter {
        padding: 20px;
        white-space: nowrap;
        overflow: scroll;
    }

    .product-list__item {
        padding: 0;
        max-width: 139px;
        max-height: 300px;
    }

    .product-list__item-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #0A1A2C;
        padding: 10px 0 30px 0;
        height: 40px;
        overflow: hidden;
    }

    .news__list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .news__title {
        padding-left: 10px;
    }

    .news__list__item {
        width: 100%;
        padding-top: 5px;
    }

    .footer__contact {
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__inner {
        padding: 10px;
    }

    .footer__social {
        justify-content: start;
        padding: 10px;
    }

    .product-list__item-buy {
        padding: 5px 0;
        column-gap: 2px;
    }
}

@media screen and (max-width: 320px) {
    .product-list__item-img, .product-list__item-img > img {
        max-width: 135px;
        height: 127px;
    }

    .header__middle__info-whatsapp-btn {
        font-size: 10px;
        line-height: 12px;
    }

    .header__phone {
        font-size: 14px;
        line-height: 17px;
    }

    .header__feedback {
        font-size: 10px;
        line-height: 11px;
    }

    .header__middle__info {
        justify-content: center;
    }

    .product-list__item {
        padding: 0;
        max-width: 130px;
        max-height: 300px;
    }

    .product-list-filter {
        padding: 5px;
    }

    .product-list {
        padding: 0;
        gap: 35px;
    }
}