.wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 10px;
    width: 1000px;
    margin: 0 auto;
}

.wrap > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blue {
    background-color: blue;
}

.widget {
    background-color: darkblue;
    height: 200px;
    flex-grow: 1;
}

.widgets, .contact {
    flex-basis: 100%;
    background-color: blue;
}

.h-300 {
    height: 300px;
}

.h-500 {
    height: 500px;
}